@page
@model IndexModel
@{
    ViewData["Title"] = "Groq Chatbot";
}

<div class="container">
    <div class="row p-1">
        <div class="col-1">Role</div>
        <div class="col-5"><input type="text" id="role" value="user" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="message" value="Hello! How are you today?" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="submit" id="submit" value="Submit" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <div id="messages"></div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
