@page
@model IndexModel
@{
    ViewData["Title"] = "Groq Chatbot";
}

<form onsubmit="void(0)">
    <div class="container">
        <div class="row p-1">
            <div class="col-1 text-uppercase">Role</div>
            <div class="col-5"><input type="text" id="role" class="form-control" readonly value="user" /></div>
        </div>
        <div class="row p-1">
            <div class="col-1 text-uppercase">Message</div>
            <div class="col-5">
                <input type="text" class="w-100 form-control" id="message" value="Ciao!" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6 text-end">
                <button type="submit" id="submit" class="btn btn-primary text-uppercase">Submit</button>
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <div id="messages"></div>
            </div>
        </div>
    </div>
</form>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>